.Home-container {
  text-align: center;
  padding: 20px;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  height: 200px;
}

.no-underline {
  text-decoration: none;
  color: black;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.event-list a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.event-list a:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;  /* Ensure all cards stretch equally */
  min-height: 250px; /* Set a minimum height */
}



/* Image styling *//* Image styling *//* Image styling *//* Image styling *//* Image styling */
.img {
    background: url('http://localhost:5000/public/main.jpg') center/cover no-repeat;
    height:90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .input-search {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
  }
  
  /* Input Field */
  .input-search input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
  }
  
  /* Search Icon */
  .input-search::after {
    content: "🔍";
    font-size: 16px;
    color: white;
    background-color: #5548d9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  
