/* Center all content in Home */
.Home-container {
    text-align: center;
    padding: 20px;
}


.h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Review section */
.review-container {
    display: flex;
    justify-content: center; /* Center reviews horizontally */
    gap: 20px; /* Space between reviews */
    flex-wrap: wrap; /* Allows responsiveness */
    margin-top: 20px;
    width: 100%; /* Ensure the container takes the full width */
    max-width: 1200px; /* Limit the max width for better responsiveness */
    margin-left: auto;  /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

/* Image styling */
img {
    width: 150px;
    height: 200px;
}

.no-underline {
  text-decoration: none;
  color: black;
}




/* Image styling *//* Image styling *//* Image styling *//* Image styling *//* Image styling */
.img {
    background: url('../../components//Pictures//beach.jpg') center/cover no-repeat;
    height:90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .input-search {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
  }
  
  /* Input Field */
  .input-search input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
  }
  
  /* Search Icon */
  .input-search::after {
    content: "🔍";
    font-size: 16px;
    color: white;
    background-color: #5548d9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  