.review-container {
    width: 400px;
    height: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    text-align: center;
    padding: 20px;
    margin-left: 110px;
    margin-bottom: 50px;
}

.image-container {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.h2 {
    text-align: center;
    margin: 10px 0; 
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px; 
}
