.event-section {
    text-align: center;
    padding: 40px 20px;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.event-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 380px;
}

.event-card:hover {
    transform: scale(1.05);
}

/* Image Styling */
.event-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    background-color: rgb(68, 68, 95);
}

.event-name {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.event-info {
    font-size: 14px;
    color: #666;
}

/* Ensures text inside the card adjusts evenly */
.event-card p {
    flex-grow: 1;
}
